<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Memory Game</title>
    <link rel="stylesheet" href="style.css"/>
</head>

<body ng-controller="MemoryGameController as vm">
    
	<div class="container">
		<div class="row">
			<div class="col-xs-2 card" ng-repeat="card in vm.cards" ng-click="vm.flipCard(card)">
				
				<span ng-hide="card.flipped">click</span>
				<span ng-show="card.flipped">{{card.value}}</span>

			</div>
		</div>
	</div>

	<script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
</body>

</html>
